<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/home.css">

    </head>

    <body>
        
        <div>
            <ul>
            <% for(let i of contact_List) {%>
                <li>
                    <%= i.name %>
                    <%=  i.phone %>
                </li>
                <%}%>
            </ul>
            </div>
            <h4>
                Add contact!
            </h4>
            <form action="/create-contact" method="POST">
                <input type="text" name="name" placeholder="enter the name" required>
                <input type="number" name="phone" placeholder="enter the phone" required>
                <button type="submit">Add contact</button>
            </form>

            <script type="text/javascript" src="/js/home.js"></script>

    </body>
</html>